@page
@model PrivacyModel
@{
    ViewData["Title"] = "Orçamentos";
}

<style>

    .jumbotron {
        background-color: white !important;
        padding-bottom: 0px
    }

    .img-card-div {
        margin-top: 30px
    }

    .img-card {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 20px
    }
    .check{
        margin-right: 10px
    }
</style>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Meus Orçamentos</h1>
            <p>
                <a class="btn btn-primary my-2 text-white" data-toggle="modal" data-target="#exampleModalCenter">+ Novo Orçamento</a>
            </p>
        </div>
    </section>

    <div class="album py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="text-center img-card-div">
                        <img src="../imagens/default.png" class="img-card" />
                    </div>
                    <div class="card-body">
                        <h4>
                            Residencial Continental
                        </h4>
                        <p class="card-text">Obra residencial com total de área construída estimado de 2040m2</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-page="/NovoOrcamento" class="btn btn-sm btn-outline-secondary">Ver</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">Custo Estimado R$ 1.310.045,34</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="text-center img-card-div">
                        <img src="../imagens/obra2.jpg" class="img-card" />
                    </div>
                    <div class="card-body">
                        <h4>
                            Residencia Matheus José
                        </h4>
                        <p class="card-text">Obra residencial com total de área construída estimado de 1200m2</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-page="/NovoOrcamento" class="btn btn-sm btn-outline-secondary">Ver</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">Custo Estimado R$ 200.045,34</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="text-center img-card-div">
                        <img src="../imagens/obra3.jpeg" class="img-card" />
                    </div>
                    <div class="card-body">
                        <h4>
                            Residencia Leonardo Neves
                        </h4>
                        <p class="card-text">Obra residencial com total de área construída estimado de 2040m2</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-page="/NovoOrcamento" class="btn btn-sm btn-outline-secondary">Ver</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">Custo Estimado R$ 310.045,34</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="text-center img-card-div">
                        <img src="../imagens/obra4.jpg" class="img-card" />
                    </div>
                    <div class="card-body">
                        <h4>
                            Obra Sesc Gurupi
                        </h4>
                        <p class="card-text">Obra residencial com total de área construída estimado de 2040m2</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-page="/NovoOrcamento" class="btn btn-sm btn-outline-secondary">Ver</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">Custo Estimado R$ 310.045,34</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Novo Orçamento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Título da Obra:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                                        <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Endereço da obra:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                                        <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nome do cliente:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Descrição:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="form-group">
                        <h5>
                            Tipo da obra
                        </h5>
                        
                        <div class="row">
                            <div class="col-md">
                                <input class="check" type="checkbox" /> Residencial Unifamiliar
                            </div>
                            <div class="col-md">
                                <input class="check" type="checkbox" /> Residencial Condominial
                            </div>
                            <div class="col-md-2">
                                 <input class="check" type="checkbox" /> Comercial
                            </div>
                            <div class="col-md-2">
                                 <input class="check" type="checkbox" /> Industrial
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a asp-page="/NovoOrcamento" class="btn btn-primary">Prosseguir</a>
            </div>
        </div>
    </div>
</div>